@charset "utf-8";

/* CSS Document */

@media only screen and (min-width:1280px) {}

@media only screen and (min-width:1280px) and (max-width:1380px) {}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .banner figure img {
        min-height: 100vh;
        object-fit: cover;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .banner figure img {
        min-height: 100vh;
        object-fit: cover;
    }
    .pavilion_banner .main_banner {
        padding-top: 420px;
    }
    .chat_topBtn ul li a {
        padding: 10px 20px!important;
    }
    .my_logo_reception .pav_galleryInner a img {
        height: 120px;
    }
    .my_logo_reception .pav_galleryInner a {
        max-width: 250px;
    }
    .pv_dashboard_rightLogo[data-v-72679802] {
        top: 50px;
        right: 8px;
    }
    .pv_dashboard_BottomLogo[data-v-72679802] {
        bottom: -221px;
        left: 102px;
    }
}

@media only screen and (max-width:767px) {
    .auto_container {
        padding: 0 15px;
    }
    .header_main {
        padding: 10px 0;
    }
    .padding_top {
        padding-top: 71px;
    }
    .banner figure {
        display: none;
    }
    .banner_content {
        position: static;
        background-image: url(../images/home_banner_final.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px 0 180px;
        background-position: center !important;
    }
    .custom_form {
        padding: 30px 25px;
    }
    .form_content input {
        padding: 5px;
    }
    .my_btn {
        padding: 8px 20px;
        font-size: 16px;
        margin: auto!important;
        min-width: 110px;
    }
    .padding_topTwo {
        padding-top: 73px!important;
    }
    .header_left {
        width: 60%;
    }
    .main_banner>.row .col-8>div {
        max-width: 100%;
    }
    .home_banner .top_logos {
        padding-bottom: 0;
    }
    .comapny_logos ul li {
        width: 25%;
    }
    .logos_main a img {
        height: 50px;
        padding: 2px;
    }
    .comapny_logos {
        padding-bottom: 40px;
    }
    .my_description h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .my_description {
        padding: 10px;
    }
    .arrow_scroll a {
        width: 35px;
    }
    .arrow_scroll {
        bottom: 20px;
    }
    .profile_main {
        padding: 30px 20px;
    }
    .profile_data title {
        display: inline-block;
        min-width: 80px;
    }
    .profile_left ul li {
        width: 100%;
        padding-bottom: 20px;
    }
    .profile_left {
        width: 100%;
        padding-bottom: 30px;
    }
    .profile_right {
        width: 100%;
        max-width: 300px;
    }
    .profile_right .custom_btnTwo a {
        width: 100%;
        text-align: center;
    }
    .profile_pic {
        padding-bottom: 20px;
    }
    .profile_action ul li {
        padding-bottom: 25px;
    }
    .home_banner .banner_content {
        background-position: -365px;
    }
    .pavilion_banner .main_banner {
        padding-top: 100px;
    }
    .pavilion_gallery ul li {
        width: 33.33%;
        padding-bottom: 15px;
    }
    .pavilion_gallery ul {
        align-items: flex-start;
    }
    .pav_galleryInner a {
        max-width: 90px;
    }
    .pav_galleryInner a img {
        height: 55px;
    }
    .chatInnner_banner .banner_content {
        background-image: url(../images/reception_new.jpg);
        background-position: -302px 0;
    }
    .pavilion_banner .banner_content {
        background-image: url(../images/mob_pav.jpg);
        background-position: center;
        padding-top: 200px;
    }
    .chat_topBtn ul {
        max-width: 500px;
        margin: auto;
    }
    .chat_topBtn ul li {
        width: 50%;
        text-align: center;
        padding-bottom: 20px;
    }
    .chat_topBtn ul li a {
        width: 100%;
        text-align: center;
    }
    .pavilion_gallery {
        padding-bottom: 20px;
    }
    #client-video-chat-window {
        max-width: calc(100% - 20px);
        left: 10px;
        bottom: 20px;
    }
    .pv_dashboard_rightLogo {
        display: none!important;
    }
    .pv_dashboard_BottomLogo {
        display: none!important;
    }
    .chatInnner_banner .main_banner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .chatInnner_banner .my_logo_reception .pav_galleryInner a img {
        margin: auto;
        height: 120px;
        object-fit: contain;
    }
    .chatInnner_banner .my_logo_reception .pav_galleryInner a {
        max-width: 250px;
        margin-top: 0px;
    }
    .my_marquee {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .my_marquee marquee {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    .chat_topBtn ul li a {
        padding: 12px!important;
    }
    #companyVideos iframe {
        max-width: 300px;
        max-height: 225px;
    }
    .chatInnner_banner .pavilion_gallery {
        transform: translateY(30px);
    }

    .for_web{
      display: none;
    }

    .for_mobile{
      display: block;
      padding: 0px;
    }

    .chatInnner_banner .main_banner{
        padding: 0px;
    }

    .chatInnner_banner .main_banner{
        padding-bottom: 20px;
    }

    .logo_setting{
        margin-left: 0px;
    }

    .chat_topBtn{
        padding-top: 50px;
    }

    .my_chat_video{
        bottom:75px;
        right:10px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .pavillion_banner_content{
        background-position:-135px !important;
    }

    .pavilion_banner .pavillion_banner_content {
        padding-top: 240px;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {}
